[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==21.7.0"

[dev-packages]
prospector = {version = "==1.6.0", extras = ["with_bandit", "with_mypy"]}
types-pyyaml = "==6.0.4"

[requires]
python_version = "3.8"
