[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==23.3.0"

[dev-packages]
prospector = {version = "==1.7.7", extras = ["with_bandit", "with_mypy"]}
types-pyyaml = "==6.0.5"

[requires]
python_version = "3.8"
